/*전역 스타일*/

html, body{height: 100%;}


body.aboutpage{
    min-height:100vh;
    display: flex;
    flex-direction: column;

}

/*---------------------------------------------------*/
/*헤더랑 푸터------------------------------------*/
/*---------------------------------------------------*/
body.aboutpage header { background:#fff; }
body.aboutpage header a { color:#000; }

footer{

    margin-top: auto;   /* 위의 콘텐츠가 남는 공간을 다 먹고, 푸터는 맨 아래로 밀림 */
}


/*---------------------------------------------------*/
/*섹션 파트*/
/*---------------------------------------------------*/

#about-page{
    flex:1;
    padding-top:140px;
}







/*인포내용*/

.information{
    display: flex;
    max-width:1200px;
    margin:0 auto 2rem auto;
    padding: 0 1.5rem;
    justify-content: center;
    align-items: center;
    gap:10px;
    align-items: center;
}

.map{flex:1.5;}

.map iframe{
    width: 100%;
    height: 400px;
    border:0;
}

.info{
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

